/* Basic reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
}

/* Container for the page 
.container {
    display: flex;
    min-height: 100vh;
}

/* Content area */
.content {
    flex: 1;
    margin: auto; /* Center the content within the available space */
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form elements inside the content area */
}

/* Heading styles 
h1 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Form styles 
.form {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    width: 100%;
}

input[type="file"],
input[type="date"],
select,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
}

input[type="file"] {
    height: 40px;
    cursor: pointer;
}

input[type="date"] {
    height: 40px;
}

select {
    height: 40px;
    cursor: pointer;
}

textarea {
    height: 100px;
    resize: vertical;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

button[type="submit"]:active {
    transform: translateY(2px);
}

/* Error message styling */
.error {
    color: #f00;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Dropzone Styling */
.dropzone {
    width: 100%;
    padding: 100px;
    border: 3px dashed #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
    color: #666;
}

.dropzone p {
    margin: 0;
    font-size: 16px;
    color: #999;
}

.dropzone-active {
    border-color: #4CAF50;
}

/* Image Preview Styling */
.imagePreview {
    margin-top: 15px;
    width: 100%;
    max-width: 300px; /* Limit the width of the preview */
}

.imagePreview img {
    width: 100%; /* Make the image responsive */
    border-radius: 5px; /* Optional: add some rounding */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: add some shadow */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .content {
        margin: 20px;
        padding: 10px;
    }

    input[type="file"], input[type="date"], select, textarea {
        height: auto;
        font-size: 14px;
    }

    button[type="submit"] {
        padding: 5px 10px;
        font-size: 14px;
    }
}
