.auction-page {
    background-color: #ccdde3; /* Light blue background */
    width:100%;
    
    margin-bottom: 200px;
    
  }
  
  .auction-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sellers-section {
    background-color: #edf0f168;
    height:200px;
    padding-top: 30px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
  }
  
  .sellers {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 30px;
  }
  
  .seller-profile {
    margin-bottom: 20px;
    
  }
  
  .auction-items-section {
    background-color: #edf0f168;
    padding-left: 100px;
    border-radius: 10px;
  }
  
  .auction-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .auction-item {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .auction-details {
    background-color: #edf0f168;
    padding: 20px;
    border-radius: 10px;
    
    
    
  }
  
  .auction-register {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  